.intro {
    color: white;
    text-align: center;
    margin-top: 7%;
}

.intro img{
    border-radius: 50%;
    max-width: 20%;
    max-height: 20%;
    border: 4px solid white;
}

body {
    background-color: #3498db;
}

a{
    color: #e74c3c;
}

.link-laranja{
    color: #f39c12
}

.link-azul{
    color: #2c3e50
}

.lista-linha {
    padding-left: 0;
    list-style: none;
}

.lista-linha li{
    display: inline-block;
}

.fa-whatsapp-square{
    color: #34495e;
}

.fa-envelope{
    color: #34495e;
}

.fa-instagram{
    color: #34495e;
}

.fa-facebook{
    color: #34495e;
}